html, body {
    height: 100%;
    margin: 0;
}
h1 , h2 {
    font-size: 150%
}

#page {
    width: 100%;
    min-height: 100vh;
    background-color:rgb(194, 196, 173);
    font-size: 14 px;
    border : 3 px solid rgb(39, 150, 128)
}

.entete {
    text-align: center
}

#moi {
    color :rgb(13, 23, 101);
    text-align: center;
}

#moi table {
    margin: 20px auto;
    border-collapse: collapse;
}

#moi p{
    margin: 10px 0 5px 0;
}

#moi ul {
    list-style-position: inside;
    padding:0;
    margin:5px auto 20px auto;
}


footer {
    text-align: center;
}
